// 
// user.scss
// Use this to write your custom SCSS
//

//NoticeTable
.createBtn {
    display: block;
    margin-left: auto;
    text-align: center;
}

//NoticeDetail
.content {
    width: 30%;
    height: 400px;
    text-align: center;
    vertical-align: middle;
}

.createSuccesBtn {
    display: block;
    margin: 0 auto;
    text-align: center;
}

//CreateNotice
.createNoticeHeight {
    height: 400px;        
}

// 가운데 정렬
.textCenter {
    text-align: center;
    vertical-align: middle;
}

